<h1>> <%= @patient.firstname %> <%= @patient.lastname %></h1>
<br>
<p>Insurance:</p><%= @patient.insurance %>
<p>Cured:</p><%= @patient.cured %>
<%= link_to 'Delete', patient_path(@patient), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<%= link_to 'Add Appointment', new_patient_appointment_path(@patient) %>
